# Source Code Notebook

## Background of the Dataset

The **Philippine Statistics Authority (PSA)** is the central statistical authority of the Philippines, responsible for collecting, compiling, and disseminating official data across various sectors. Established through the Philippine Statistical Act of 2013, the PSA integrates four previously separate agencies: the National Statistics Office (NSO), the National Statistical Coordination Board (NSCB), the Bureau of Agricultural Statistics (BAS), and the Bureau of Labor and Employment Statistics (BLES). Its primary mission is to provide timely, accurate, and relevant statistics for policy-making, planning, and research.

The **Family Income and Expenditure Survey (FIES)** is a nationwide survey of households undertaken every three years. It is the main source of data on family income and expenditure, which include among others, levels of consumption by item of expenditure as well as sources of income in cash and in kind. The results of FIES provide information on the levels of living and disparities in income of Filipino families, as well as their spending patterns. The survey aims to provide a detailed picture of the economic conditions of households, measuring disparities in income and spending patterns across various regions and socio-economic groups. While usually, the FIES is a survey conducted every three years, the 2023 FIES, the dataset used in this project, is the first biennial survey of the FIES. According to an article by Dr. Mapa in July 10, 2023, this change in standard procedure is due to respond to the clamor for more frequent and timely income and expenditure statistics, as well as poverty statistics. The results of the 2023 FIES will provide inputs to the 2023 Official Poverty Statistics, which will aid the government in planning, programming, policy formulation and decision-making.

Additional information about the 2023 FIES is that for the first time, the 2023 Geo-enabled Master Sample with sample size of about 180,000 households, which includes separate domains for Maguindanao del Norte and Maguindanao del Sur. Further, the 2023 FIES is the second in the series to implement the Computer-Aided Personal Interviewing (CAPI) system, which replaces the traditional Paper and Pencil Interviewing method. The use of the CAPI system eliminates the manual encoding of data obtained through paper questionnaires. It facilitates the data cleaning as consistency checks, skipping patterns and error detection are already embedded in the system. These features serve as safeguard to data quality and shortens the surveyâ€™s timetable of operations. The 2023 FIES Visit 1 was conducted July 9 to July 31 in 2023, while the 2023 FIES Visit 2 was conducted from January 8 to 31 in 2024. Attached here is link used to download the FIES dataset along with the metadata where the questionnaire is located. <https://psada.psa.gov.ph/catalog/FIES/about>

The dataset used for this project is found on the **PSADA Microdata Catalogue** accessed here: <https://psada.psa.gov.ph/home>. ALong with the FIES database, there are also numerous databases made open for public use with focuses on ICT, Tourism, Poverty Indicators, Wage Rates, and much more. Do note that you will need to have an account registered to access these resources, and along with the account, you will need to be subjected to the PSADA Microdata Catalogue Terms and Conditions.

References:

1. <https://rsso01.psa.gov.ph/statistics/fies/about>
2. <https://www.psa.gov.ph/statistics/income-expenditure/fies/node/1684059988>

In [1]:
import pandas as pd
fies_df = pd.read_csv('datasets/fies_2023_volume1_494887610821.csv')
fies_df

/var/folders/mp/c7pgmq8j0472f05vnx5h16000000gn/T/ipykernel_20734/2246222378.py:2: DtypeWarning: Columns (77) have mixed types. Specify dtype option on import or set low_memory=False.
  fies_df = pd.read_csv('datasets/fies_2023_volume1_494887610821.csv')

,RDMD_ID,Region,Province,Household ID,RECODED PROVINCE,Family Size,Salaries/Wages from Regular Employment,Salaries/Wages from Seasonal Employment,Income from Salaries and Wages,"Net Share of Crops, Fruits, etc. (Tot. Net Value of Share)",...,Raising Factor,Final Population Weights,Urban / Rural,Per Capita Income,NPCINC,RPCINC,Per Capita Income Decile (Province),pPCINC,Per Capita Income Decile (Region with Negros Island Region (NIR)),Region (with NIR)
0,1,1,28,1,2800,2.5,119000,0,119000,0,...,88.543663,229.392223,2,242828.000000,10,10,10,10,10,1
1,2,1,28,2,2800,6.0,154400,0,154400,0,...,88.543663,550.541336,2,68663.335938,5,5,2,2,5,1
2,3,1,28,3,2800,3.5,683452,0,683452,0,...,88.543663,321.149113,2,233774.859375,10,10,10,10,10,1
3,4,1,28,4,2800,2.5,48200,0,48200,10000,...,88.543663,229.392223,2,103415.203125,7,8,5,5,8,1
4,5,1,28,5,2800,3.0,400994,0,400994,0,...,88.543663,275.270668,2,183574.671875,9,10,9,9,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163263,163264,17,59,163264,5900,3.0,42600,5984,48584,0,...,52.355953,159.710117,2,38661.332031,2,3,4,4,3,17
163264,163265,17,59,163265,5900,7.0,117600,56800,174400,0,...,52.355953,372.656940,2,35674.285156,2,3,3,3,3,17
163265,163266,17,59,163266,5900,3.5,0,65800,65800,0,...,52.355953,186.328470,2,49414.285156,3,5,6,6,5,17
163266,163267,17,59,163267,5900,4.0,121400,0,121400,0,...,52.355953,212.946823,2,33910.000000,2,3,3,3,3,17
163267,163268,17,59,163268,5900,3.0,0,0,0,0,...,52.355953,159.710117,2,46163.332031,3,5,5,5,5,17

### Data Dictionary

In [2]:
fies_df.columns

Index(['RDMD_ID', 'Region', 'Province', 'Household ID', 'RECODED PROVINCE',
       'Family Size', 'Salaries/Wages from Regular Employment',
       'Salaries/Wages from Seasonal Employment',
       'Income from Salaries and Wages',
       'Net Share of Crops, Fruits, etc. (Tot. Net Value of Share)',
       'Cash Receipts, Support, etc. from Abroad',
       'Cash Receipts, Support, etc. from Domestic Source',
       'Rentals Received from Non-Agri Lands, etc.', 'Unnamed: 13',
       'Pension and Retirement Benefits', 'Dividends from Investment',
       'Other Sources of Income NEC', 'Family Sustenance Activities',
       'Total Received as Gifts', 'Crop Farming and Gardening',
       'Livestock and Poultry Raising', 'Fishing', 'Forestry and Hunting',
       'Wholesale and Retail', 'Manufacturing',
       'Transportation, Storage Services', 'Entrep. Activities NEC',
       'Entrep. Activities NEC.1', 'Entrep. Activities NEC.2',
       'Hhld, Income from Entrepreneurial Activities, Total', 'Losses from EA',
       'Cereal and Cereal Preparations (Total)', 'Meat and Meat Preparations',
       'Fish and Marine Products (Total)', 'Dairy Products and Eggs (Total)',
       'Oils and Fats (Total)', 'Fruits and Vegetables', 'Vegetables (Total)',
       'Sugar, Jam and Honey (Total)', 'Food Not Elsewhere Classified (Total)',
       'Fruit and vegetable juices', 'Coffee, Cocoa and Tea (Total)',
       'Tea (total)  expenditure', 'Cocoa (total)  expenditure',
       'Main Source of Water Supply (2nd visit only)', 'Softdrinks',
       'Other Non Alcoholic Beverages', 'Alcoholic Beverages (Total)',
       'Tobacco (Total)', 'Other Vegetables (Total)', 'Services_Primary_Goods',
       'Alcohol Procduction Services', 'Total Food Consumed at Home (Total)',
       'Food Regularly Consumed Outside The Home (Total)', 'Hhld, Food',
       'Clothing, Footwear and Other Wear', 'Housing and water (Total)',
       'Actual House Rent', 'Imputed House Rental Value',
       'Imputed Housing Benefit Rental Value', 'House Rent/Rental Value',
       'Furnishings, Household Equipment & Routine Household Mainte',
       'Health (Total)', 'Transportation (Total)', 'Communication (Total)',
       'Recreation and Culture (Total)', 'Education (Total)', 'Insurance',
       'Miscellaneous Goods and Services (Total)', 'Durable Furniture',
       'Special Family Occasion',
       'Other Expenditure (inc. Value Consumed, Losses)',
       'Other Disbursements', 'Accomodation Services',
       'Total Non-Food Expenditure', 'Hhld, Income, Total',
       'Hhld, Expenditures, Total', 'Total Household Disbursements',
       'Other Receipts', 'Total Receipts', 'Psu (Recode)', 'Raising Factor',
       'Final Population Weights', 'Urban / Rural', 'Per Capita Income',
       'NPCINC', 'RPCINC', 'Per Capita Income Decile (Province)', 'pPCINC',
       'Per Capita Income Decile (Region with Negros Island Region (NIR))',
       'Region (with NIR)'],
      dtype='object')

In [3]:
fies_column_descriptions = {
    'RDMD_ID': 'Unique identifier for the record',
    'Region': 'Region code',
    'Province': 'Province code',
    'Household ID': 'Unique household identifier',
    'RECODED PROVINCE': 'Recoded province information',
    'Family Size': 'Number of people in the household',
    'Salaries/Wages from Regular Employment': 'Income from regular employment',
    'Salaries/Wages from Seasonal Employment': 'Income from seasonal employment',
    'Income from Salaries and Wages': 'Total income from salaries and wages',
    'Net Share of Crops, Fruits, etc. (Tot. Net Value of Share)': 'Net value from crop and fruit share',
    'Cash Receipts, Support, etc. from Abroad': 'Cash support received from abroad',
    'Cash Receipts, Support, etc. from Domestic Source': 'Cash support received domestically',
    'Rentals Received from Non-Agri Lands, etc.': 'Income from land rentals (non-agricultural)',
    'Unnamed: 13': 'Unknown or unnamed column',
    'Pension and Retirement Benefits': 'Income from pensions and retirement',
    'Dividends from Investment': 'Income from dividends',
    'Other Sources of Income NEC': 'Other sources of income not elsewhere classified',
    'Family Sustenance Activities': 'Income from family sustenance activities',
    'Total Received as Gifts': 'Total gifts received by the household',
    'Crop Farming and Gardening': 'Income from crop farming and gardening',
    'Livestock and Poultry Raising': 'Income from livestock and poultry raising',
    'Fishing': 'Income from fishing activities',
    'Forestry and Hunting': 'Income from forestry and hunting',
    'Wholesale and Retail': 'Income from wholesale and retail business',
    'Manufacturing': 'Income from manufacturing activities',
    'Transportation, Storage Services': 'Income from transportation and storage services',
    'Entrep. Activities NEC': 'Income from entrepreneurial activities (not elsewhere classified)',
    'Entrep. Activities NEC.1': 'Income from entrepreneurial activities (additional category 1)',
    'Entrep. Activities NEC.2': 'Income from entrepreneurial activities (additional category 2)',
    'Hhld, Income from Entrepreneurial Activities, Total': 'Total household income from entrepreneurial activities',
    'Losses from EA': 'Losses from entrepreneurial activities',
    'Cereal and Cereal Preparations (Total)': 'Expenditure on cereals and cereal preparations',
    'Meat and Meat Preparations': 'Expenditure on meat and meat preparations',
    'Fish and Marine Products (Total)': 'Expenditure on fish and marine products',
    'Dairy Products and Eggs (Total)': 'Expenditure on dairy products and eggs',
    'Oils and Fats (Total)': 'Expenditure on oils and fats',
    'Fruits and Vegetables': 'Expenditure on fruits and vegetables',
    'Vegetables (Total)': 'Expenditure on vegetables',
    'Sugar, Jam and Honey (Total)': 'Expenditure on sugar, jam, and honey',
    'Food Not Elsewhere Classified (Total)': 'Expenditure on other food items',
    'Fruit and vegetable juices': 'Expenditure on fruit and vegetable juices',
    'Coffee, Cocoa and Tea (Total)': 'Expenditure on coffee, cocoa, and tea',
    'Tea (total)  expenditure': 'Expenditure on tea',
    'Cocoa (total)  expenditure': 'Expenditure on cocoa',
    'Main Source of Water Supply (2nd visit only)': 'Main source of water supply (second visit)',
    'Softdrinks': 'Expenditure on soft drinks',
    'Other Non Alcoholic Beverages': 'Expenditure on other non-alcoholic beverages',
    'Alcoholic Beverages (Total)': 'Expenditure on alcoholic beverages',
    'Tobacco (Total)': 'Expenditure on tobacco products',
    'Other Vegetables (Total)': 'Expenditure on other types of vegetables',
    'Services_Primary_Goods': 'Expenditure on services and primary goods',
    'Alcohol Procduction Services': 'Expenditure on alcohol production services',
    'Total Food Consumed at Home (Total)': 'Total food consumed at home',
    'Food Regularly Consumed Outside The Home (Total)': 'Food consumed outside the home',
    'Hhld, Food': 'Household expenditure on food',
    'Clothing, Footwear and Other Wear': 'Expenditure on clothing, footwear, and other wear',
    'Housing and water (Total)': 'Expenditure on housing and water',
    'Actual House Rent': 'Expenditure on actual house rent',
    'Imputed House Rental Value': 'Imputed value of house rental',
    'Imputed Housing Benefit Rental Value': 'Imputed value of housing benefit rental',
    'House Rent/Rental Value': 'Expenditure on house rent/rental value',
    'Furnishings, Household Equipment & Routine Household Mainte': 'Expenditure on furnishings and household equipment',
    'Health (Total)': 'Expenditure on health services and products',
    'Transportation (Total)': 'Expenditure on transportation',
    'Communication (Total)': 'Expenditure on communication services',
    'Recreation and Culture (Total)': 'Expenditure on recreation and culture',
    'Education (Total)': 'Expenditure on education',
    'Insurance': 'Expenditure on insurance',
    'Miscellaneous Goods and Services (Total)': 'Expenditure on miscellaneous goods and services',
    'Durable Furniture': 'Expenditure on durable furniture',
    'Special Family Occasion': 'Expenditure on special family occasions',
    'Other Expenditure (inc. Value Consumed, Losses)': 'Other expenditures including losses',
    'Other Disbursements': 'Other household disbursements',
    'Accomodation Services': 'Expenditure on accommodation services',
    'Total Non-Food Expenditure': 'Total non-food expenditure',
    'Hhld, Income, Total': 'Total household income',
    'Hhld, Expenditures, Total': 'Total household expenditures',
    'Total Household Disbursements': 'Total household disbursements',
    'Other Receipts': 'Other household receipts',
    'Total Receipts': 'Total receipts',
    'Psu (Recode)': 'Primary Sampling Unit (recoded)',
    'Raising Factor': 'Raising factor for survey results',
    'Final Population Weights': 'Final weights for population data',
    'Urban / Rural': 'Urban or rural classification',
    'Per Capita Income': 'Household per capita income',
    'NPCINC': 'National per capita income',
    'RPCINC': 'Regional per capita income',
    'Per Capita Income Decile (Province)': 'Per capita income decile in the province',
    'pPCINC': 'Provincial per capita income decile',
    'Per Capita Income Decile (Region with Negros Island Region (NIR))': 'Per capita income decile (region with NIR)',
    'Region (with NIR)': 'Region code including NIR'
}

In [4]:
fies_dataset_data_dict = pd.DataFrame({
    'Column Name': fies_df.columns,
    'Data Type': fies_df.dtypes,
    'Non-Null Count': fies_df.notnull().sum(),
    'Unique Values': fies_df.nunique(),
    'Description': [fies_column_descriptions.get(col, 'No desciption available') for col in fies_df.columns]
})

fies_dataset_data_dict.to_csv('fies_dataset_data_dict.csv', index=False)

## Preliminary Data Analysis

### Data Cleaning and Wrangling

Steps:

1. Null Values
2. Standardize Datatype
3. Rename columns to be consistent
4. Feature Engineering
5. Aggregation

###

### Handling Null Values

From the data dictionary, the Total Household Disbursements column has is the only one with an object datatype, suggesting mixed values of numbers, strings, etc.

In [5]:
def is_numeric(val):
    try:
        float(val)  # Try converting to float
        return True
    except (ValueError, TypeError):
        return False

non_numeric_mask = fies_df['Total Household Disbursements'].map(lambda x: not is_numeric(x))
non_numeric_values = fies_df[non_numeric_mask]
for row_idx, value in non_numeric_values['Total Household Disbursements'].items():
    print(f"Non-numeric value at Row {row_idx}: {value}")

Non-numeric value at Row 47648:
Non-numeric value at Row 47649:
Non-numeric value at Row 47650:
Non-numeric value at Row 47651:
Non-numeric value at Row 47652:
Non-numeric value at Row 47653:
Non-numeric value at Row 47654:
Non-numeric value at Row 47655:
Non-numeric value at Row 47656:
Non-numeric value at Row 47657:
Non-numeric value at Row 47658:
Non-numeric value at Row 47659:
Non-numeric value at Row 47660:
Non-numeric value at Row 47661:
Non-numeric value at Row 47662:
Non-numeric value at Row 47663:
Non-numeric value at Row 47664:
Non-numeric value at Row 47665:
Non-numeric value at Row 47666:
Non-numeric value at Row 47667:
Non-numeric value at Row 47668:
Non-numeric value at Row 47669:
Non-numeric value at Row 47670:
Non-numeric value at Row 47671:
Non-numeric value at Row 47672:
Non-numeric value at Row 47673:
Non-numeric value at Row 47674:
Non-numeric value at Row 47675:
Non-numeric value at Row 47676:
Non-numeric value at Row 47677:
Non-numeric value at Row 47678:
Non-numeric value at Row 47679:
Non-numeric value at Row 47680:
Non-numeric value at Row 47681:
Non-numeric value at Row 47682:
Non-numeric value at Row 47683:
Non-numeric value at Row 47684:
Non-numeric value at Row 47685:
Non-numeric value at Row 47686:
Non-numeric value at Row 47687:
Non-numeric value at Row 47688:
Non-numeric value at Row 47689:
Non-numeric value at Row 47690:
Non-numeric value at Row 47691:
Non-numeric value at Row 47692:
Non-numeric value at Row 47693:
Non-numeric value at Row 47694:
Non-numeric value at Row 47695:
Non-numeric value at Row 47696:
Non-numeric value at Row 47697:
Non-numeric value at Row 47698:
Non-numeric value at Row 47699:
Non-numeric value at Row 47700:
Non-numeric value at Row 47701:
Non-numeric value at Row 47702:
Non-numeric value at Row 47703:
Non-numeric value at Row 47704:
Non-numeric value at Row 47705:
Non-numeric value at Row 47706:
Non-numeric value at Row 47707:
Non-numeric value at Row 47708:
Non-numeric value at Row 47709:
Non-numeric value at Row 47710:
Non-numeric value at Row 47711:
Non-numeric value at Row 47712:
Non-numeric value at Row 47713:
Non-numeric value at Row 47714:
Non-numeric value at Row 47715:
Non-numeric value at Row 47716:
Non-numeric value at Row 47717:
Non-numeric value at Row 47718:
Non-numeric value at Row 47719:
Non-numeric value at Row 47720:
Non-numeric value at Row 47721:
Non-numeric value at Row 47722:
Non-numeric value at Row 47723:
Non-numeric value at Row 47724:
Non-numeric value at Row 47725:
Non-numeric value at Row 47726:
Non-numeric value at Row 47727:
Non-numeric value at Row 47728:
Non-numeric value at Row 47729:
Non-numeric value at Row 47730:
Non-numeric value at Row 47731:
Non-numeric value at Row 47732:
Non-numeric value at Row 47733:
Non-numeric value at Row 47734:
Non-numeric value at Row 47735:
Non-numeric value at Row 47736:
Non-numeric value at Row 47737:
Non-numeric value at Row 47738:
Non-numeric value at Row 47739:
Non-numeric value at Row 47740:
Non-numeric value at Row 47741:
Non-numeric value at Row 47742:
Non-numeric value at Row 47743:
Non-numeric value at Row 47744:
Non-numeric value at Row 47745:
Non-numeric value at Row 47746:
Non-numeric value at Row 47747:
Non-numeric value at Row 47748:
Non-numeric value at Row 47749:
Non-numeric value at Row 47750:
Non-numeric value at Row 47751:
Non-numeric value at Row 47752:
Non-numeric value at Row 47753:
Non-numeric value at Row 47754:
Non-numeric value at Row 47755:
Non-numeric value at Row 47756:
Non-numeric value at Row 47757:
Non-numeric value at Row 47758:
Non-numeric value at Row 47759:
Non-numeric value at Row 47760:
Non-numeric value at Row 47761:
Non-numeric value at Row 47762:
Non-numeric value at Row 47763:
Non-numeric value at Row 47764:
Non-numeric value at Row 47765:
Non-numeric value at Row 47766:
Non-numeric value at Row 47767:
Non-numeric value at Row 47768:
Non-numeric value at Row 47769:
Non-numeric value at Row 47770:
Non-numeric value at Row 47771:
Non-numeric value at Row 47772:
Non-numeric value at Row 47773:
Non-numeric value at Row 47774:
Non-numeric value at Row 47775:
Non-numeric value at Row 47776:
Non-numeric value at Row 47777:
Non-numeric value at Row 47778:
Non-numeric value at Row 47779:
Non-numeric value at Row 47780:
Non-numeric value at Row 47781:
Non-numeric value at Row 47782:
Non-numeric value at Row 47783:
Non-numeric value at Row 47784:
Non-numeric value at Row 47785:
Non-numeric value at Row 47786:
Non-numeric value at Row 47787:
Non-numeric value at Row 47788:
Non-numeric value at Row 47789:
Non-numeric value at Row 47790:
Non-numeric value at Row 47791:
Non-numeric value at Row 47792:
Non-numeric value at Row 47793:
Non-numeric value at Row 47794:
Non-numeric value at Row 47795:
Non-numeric value at Row 47796:
Non-numeric value at Row 47797:
Non-numeric value at Row 47798:
Non-numeric value at Row 47799:
Non-numeric value at Row 47800:
Non-numeric value at Row 47801:
Non-numeric value at Row 47802:
Non-numeric value at Row 47803:
Non-numeric value at Row 47804:
Non-numeric value at Row 47805:
Non-numeric value at Row 47806:
Non-numeric value at Row 47807:
Non-numeric value at Row 47808:
Non-numeric value at Row 47809:
Non-numeric value at Row 47810:
Non-numeric value at Row 47811:
Non-numeric value at Row 47812:
Non-numeric value at Row 47813:
Non-numeric value at Row 47814:
Non-numeric value at Row 47815:
Non-numeric value at Row 47816:
Non-numeric value at Row 47817:
Non-numeric value at Row 47818:
Non-numeric value at Row 47819:
Non-numeric value at Row 47820:
Non-numeric value at Row 47821:
Non-numeric value at Row 47822:
Non-numeric value at Row 47823:
Non-numeric value at Row 47824:
Non-numeric value at Row 47825:
Non-numeric value at Row 47826:
Non-numeric value at Row 47827:
Non-numeric value at Row 47828:
Non-numeric value at Row 47829:
Non-numeric value at Row 47830:
Non-numeric value at Row 47831:
Non-numeric value at Row 47832:
Non-numeric value at Row 47833:
Non-numeric value at Row 47834:
Non-numeric value at Row 47835:
Non-numeric value at Row 47836:
Non-numeric value at Row 47837:
Non-numeric value at Row 47838:
Non-numeric value at Row 47839:
Non-numeric value at Row 47840:
Non-numeric value at Row 47841:
Non-numeric value at Row 47842:
Non-numeric value at Row 47843:
Non-numeric value at Row 47844:
Non-numeric value at Row 47845:
Non-numeric value at Row 47846:
Non-numeric value at Row 47847:
Non-numeric value at Row 47848:
Non-numeric value at Row 47849:
Non-numeric value at Row 47850:
Non-numeric value at Row 47851:
Non-numeric value at Row 47852:
Non-numeric value at Row 47853:
Non-numeric value at Row 47854:
Non-numeric value at Row 47855:
Non-numeric value at Row 47856:
Non-numeric value at Row 47857:
Non-numeric value at Row 47858:
Non-numeric value at Row 47859:
Non-numeric value at Row 47860:
Non-numeric value at Row 47861:
Non-numeric value at Row 47862:
Non-numeric value at Row 47863:
Non-numeric value at Row 47864:
Non-numeric value at Row 47865:
Non-numeric value at Row 47866:
Non-numeric value at Row 47867:
Non-numeric value at Row 47868:
Non-numeric value at Row 47869:
Non-numeric value at Row 47870:
Non-numeric value at Row 47871:
Non-numeric value at Row 47872:
Non-numeric value at Row 47873:
Non-numeric value at Row 47874:
Non-numeric value at Row 47875:
Non-numeric value at Row 47876:
Non-numeric value at Row 47877:
Non-numeric value at Row 47878:
Non-numeric value at Row 47879:
Non-numeric value at Row 47880:
Non-numeric value at Row 47881:
Non-numeric value at Row 47882:
Non-numeric value at Row 47883:
Non-numeric value at Row 47884:
Non-numeric value at Row 47885:
Non-numeric value at Row 47886:
Non-numeric value at Row 47887:
Non-numeric value at Row 47888:
Non-numeric value at Row 47889:
Non-numeric value at Row 47890:
Non-numeric value at Row 47891:
Non-numeric value at Row 47892:
Non-numeric value at Row 47893:
Non-numeric value at Row 47894:
Non-numeric value at Row 47895:
Non-numeric value at Row 47896:
Non-numeric value at Row 47897:
Non-numeric value at Row 47898:
Non-numeric value at Row 47899:
Non-numeric value at Row 47900:
Non-numeric value at Row 47901:
Non-numeric value at Row 47902:
Non-numeric value at Row 47903:
Non-numeric value at Row 47904:
Non-numeric value at Row 47905:
Non-numeric value at Row 47906:
Non-numeric value at Row 47907:
Non-numeric value at Row 47908:
Non-numeric value at Row 47909:
Non-numeric value at Row 47910:
Non-numeric value at Row 47911:
Non-numeric value at Row 47912:
Non-numeric value at Row 47913:
Non-numeric value at Row 47914:
Non-numeric value at Row 47915:
Non-numeric value at Row 47916:
Non-numeric value at Row 47917:
Non-numeric value at Row 47918:
Non-numeric value at Row 47919:
Non-numeric value at Row 47920:
Non-numeric value at Row 47921:
Non-numeric value at Row 47922:
Non-numeric value at Row 47923:
Non-numeric value at Row 47924:
Non-numeric value at Row 47925:
Non-numeric value at Row 47926:
Non-numeric value at Row 47927:
Non-numeric value at Row 47928:
Non-numeric value at Row 47929:
Non-numeric value at Row 47930:
Non-numeric value at Row 47931:
Non-numeric value at Row 47932:
Non-numeric value at Row 47933:
Non-numeric value at Row 47934:
Non-numeric value at Row 47935:
Non-numeric value at Row 47936:
Non-numeric value at Row 47937:
Non-numeric value at Row 47938:
Non-numeric value at Row 47939:
Non-numeric value at Row 47940:
Non-numeric value at Row 47941:
Non-numeric value at Row 47942:
Non-numeric value at Row 47943:
Non-numeric value at Row 47944:
Non-numeric value at Row 47945:
Non-numeric value at Row 47946:
Non-numeric value at Row 47947:
Non-numeric value at Row 47948:
Non-numeric value at Row 47949:
Non-numeric value at Row 47950:
Non-numeric value at Row 47951:
Non-numeric value at Row 47952:
Non-numeric value at Row 47953:
Non-numeric value at Row 47954:
Non-numeric value at Row 47955:
Non-numeric value at Row 47956:
Non-numeric value at Row 47957:
Non-numeric value at Row 47958:
Non-numeric value at Row 47959:
Non-numeric value at Row 47960:
Non-numeric value at Row 47961:
Non-numeric value at Row 47962:
Non-numeric value at Row 47963:
Non-numeric value at Row 47964:
Non-numeric value at Row 47965:
Non-numeric value at Row 47966:
Non-numeric value at Row 47967:
Non-numeric value at Row 47968:
Non-numeric value at Row 47969:
Non-numeric value at Row 47970:
Non-numeric value at Row 47971:
Non-numeric value at Row 47972:
Non-numeric value at Row 47973:
Non-numeric value at Row 47974:
Non-numeric value at Row 47975:
Non-numeric value at Row 47976:
Non-numeric value at Row 47977:
Non-numeric value at Row 47978:
Non-numeric value at Row 47979:
Non-numeric value at Row 47980:
Non-numeric value at Row 47981:
Non-numeric value at Row 47982:
Non-numeric value at Row 47983:
Non-numeric value at Row 47984:
Non-numeric value at Row 47985:
Non-numeric value at Row 47986:
Non-numeric value at Row 47987:
Non-numeric value at Row 47988:
Non-numeric value at Row 47989:
Non-numeric value at Row 47990:
Non-numeric value at Row 47991:
Non-numeric value at Row 47992:
Non-numeric value at Row 47993:
Non-numeric value at Row 47994:
Non-numeric value at Row 47995:
Non-numeric value at Row 47996:
Non-numeric value at Row 47997:
Non-numeric value at Row 47998:
Non-numeric value at Row 47999:
Non-numeric value at Row 48000:
Non-numeric value at Row 48001:
Non-numeric value at Row 48002:
Non-numeric value at Row 48003:
Non-numeric value at Row 48004:
Non-numeric value at Row 48005:
Non-numeric value at Row 48006:
Non-numeric value at Row 48007:
Non-numeric value at Row 48008:
Non-numeric value at Row 48009:
Non-numeric value at Row 48010:
Non-numeric value at Row 48011:
Non-numeric value at Row 48012:
Non-numeric value at Row 48013:
Non-numeric value at Row 48014:
Non-numeric value at Row 48015:
Non-numeric value at Row 48016:
Non-numeric value at Row 48017:
Non-numeric value at Row 48018:
Non-numeric value at Row 48019:
Non-numeric value at Row 48020:
Non-numeric value at Row 48021:
Non-numeric value at Row 48022:
Non-numeric value at Row 48023:
Non-numeric value at Row 48024:
Non-numeric value at Row 48025:
Non-numeric value at Row 48026:
Non-numeric value at Row 48027:
Non-numeric value at Row 48028:
Non-numeric value at Row 48029:
Non-numeric value at Row 48030:
Non-numeric value at Row 48031:
Non-numeric value at Row 48032:
Non-numeric value at Row 48033:
Non-numeric value at Row 48034:
Non-numeric value at Row 48035:
Non-numeric value at Row 48036:
Non-numeric value at Row 48037:
Non-numeric value at Row 48038:
Non-numeric value at Row 48039:
Non-numeric value at Row 48040:
Non-numeric value at Row 48041:
Non-numeric value at Row 48042:
Non-numeric value at Row 48043:
Non-numeric value at Row 48044:
Non-numeric value at Row 48045:
Non-numeric value at Row 48046:
Non-numeric value at Row 48047:
Non-numeric value at Row 48048:
Non-numeric value at Row 48049:
Non-numeric value at Row 48050:
Non-numeric value at Row 48051:
Non-numeric value at Row 48052:
Non-numeric value at Row 48053:
Non-numeric value at Row 48054:
Non-numeric value at Row 48055:
Non-numeric value at Row 48056:
Non-numeric value at Row 48057:
Non-numeric value at Row 48058:
Non-numeric value at Row 48059:
Non-numeric value at Row 48060:
Non-numeric value at Row 48061:
Non-numeric value at Row 48062:
Non-numeric value at Row 48063:
Non-numeric value at Row 48064:
Non-numeric value at Row 48065:
Non-numeric value at Row 48066:
Non-numeric value at Row 48067:
Non-numeric value at Row 48068:
Non-numeric value at Row 48069:
Non-numeric value at Row 48070:
Non-numeric value at Row 48071:
Non-numeric value at Row 48072:
Non-numeric value at Row 48073:
Non-numeric value at Row 48074:
Non-numeric value at Row 48075:
Non-numeric value at Row 48076:
Non-numeric value at Row 48077:
Non-numeric value at Row 48078:
Non-numeric value at Row 48079:
Non-numeric value at Row 48080:
Non-numeric value at Row 48081:
Non-numeric value at Row 48082:
Non-numeric value at Row 48083:
Non-numeric value at Row 48084:
Non-numeric value at Row 48085:
Non-numeric value at Row 48086:
Non-numeric value at Row 48087:
Non-numeric value at Row 48088:
Non-numeric value at Row 48089:
Non-numeric value at Row 48090:
Non-numeric value at Row 48091:
Non-numeric value at Row 48092:
Non-numeric value at Row 48093:
Non-numeric value at Row 48094:
Non-numeric value at Row 48095:
Non-numeric value at Row 48096:
Non-numeric value at Row 48097:
Non-numeric value at Row 48098:
Non-numeric value at Row 48099:
Non-numeric value at Row 48100:
Non-numeric value at Row 48101:
Non-numeric value at Row 48102:
Non-numeric value at Row 48103:
Non-numeric value at Row 48104:
Non-numeric value at Row 48105:
Non-numeric value at Row 48106:
Non-numeric value at Row 48107:
Non-numeric value at Row 48108:
Non-numeric value at Row 48109:
Non-numeric value at Row 48110:
Non-numeric value at Row 48111:
Non-numeric value at Row 48112:
Non-numeric value at Row 48113:
Non-numeric value at Row 48114:
Non-numeric value at Row 48115:
Non-numeric value at Row 48116:
Non-numeric value at Row 48117:
Non-numeric value at Row 48118:
Non-numeric value at Row 48119:
Non-numeric value at Row 48120:
Non-numeric value at Row 48121:
Non-numeric value at Row 48122:
Non-numeric value at Row 48123:
Non-numeric value at Row 48124:
Non-numeric value at Row 48125:
Non-numeric value at Row 48126:
Non-numeric value at Row 48127:
Non-numeric value at Row 48128:
Non-numeric value at Row 48129:
Non-numeric value at Row 48130:
Non-numeric value at Row 48131:
Non-numeric value at Row 48132:
Non-numeric value at Row 48133:
Non-numeric value at Row 48134:
Non-numeric value at Row 48135:
Non-numeric value at Row 48136:
Non-numeric value at Row 48137:
Non-numeric value at Row 48138:
Non-numeric value at Row 48139:
Non-numeric value at Row 48140:
Non-numeric value at Row 48141:
Non-numeric value at Row 48142:
Non-numeric value at Row 48143:
Non-numeric value at Row 48144:
Non-numeric value at Row 48145:
Non-numeric value at Row 48146:
Non-numeric value at Row 48147:
Non-numeric value at Row 48148:
Non-numeric value at Row 48149:
Non-numeric value at Row 48150:
Non-numeric value at Row 48151:
Non-numeric value at Row 48152:
Non-numeric value at Row 48153:
Non-numeric value at Row 48154:
Non-numeric value at Row 48155:
Non-numeric value at Row 48156:
Non-numeric value at Row 48157:
Non-numeric value at Row 48158:
Non-numeric value at Row 48159:
Non-numeric value at Row 48160:
Non-numeric value at Row 48161:
Non-numeric value at Row 48162:
Non-numeric value at Row 48163:
Non-numeric value at Row 48164:
Non-numeric value at Row 48165:
Non-numeric value at Row 48166:
Non-numeric value at Row 48167:
Non-numeric value at Row 48168:
Non-numeric value at Row 48169:
Non-numeric value at Row 48170:
Non-numeric value at Row 48171:
Non-numeric value at Row 48172:
Non-numeric value at Row 48173:
Non-numeric value at Row 48174:
Non-numeric value at Row 48175:
Non-numeric value at Row 48176:
Non-numeric value at Row 48177:
Non-numeric value at Row 48178:
Non-numeric value at Row 48179:
Non-numeric value at Row 48180:
Non-numeric value at Row 48181:
Non-numeric value at Row 48182:
Non-numeric value at Row 48183:
Non-numeric value at Row 48184:
Non-numeric value at Row 48185:
Non-numeric value at Row 48186:
Non-numeric value at Row 48187:
Non-numeric value at Row 48188:
Non-numeric value at Row 48189:
Non-numeric value at Row 48190:
Non-numeric value at Row 48191:
Non-numeric value at Row 48192:
Non-numeric value at Row 48193:
Non-numeric value at Row 48194:
Non-numeric value at Row 48195:
Non-numeric value at Row 48196:
Non-numeric value at Row 48197:
Non-numeric value at Row 48198:
Non-numeric value at Row 48199:
Non-numeric value at Row 48200:
Non-numeric value at Row 48201:
Non-numeric value at Row 48202:
Non-numeric value at Row 48203:
Non-numeric value at Row 48204:
Non-numeric value at Row 48205:
Non-numeric value at Row 48206:
Non-numeric value at Row 48207:
Non-numeric value at Row 48208:
Non-numeric value at Row 48209:
Non-numeric value at Row 48210:
Non-numeric value at Row 48211:
Non-numeric value at Row 48212:
Non-numeric value at Row 48213:
Non-numeric value at Row 48214:
Non-numeric value at Row 48215:
Non-numeric value at Row 48216:
Non-numeric value at Row 48217:
Non-numeric value at Row 48218:
Non-numeric value at Row 48219:
Non-numeric value at Row 48220:
Non-numeric value at Row 48221:
Non-numeric value at Row 48222:
Non-numeric value at Row 48223:
Non-numeric value at Row 48224:
Non-numeric value at Row 48225:
Non-numeric value at Row 48226:
Non-numeric value at Row 48227:
Non-numeric value at Row 48228:
Non-numeric value at Row 48229:
Non-numeric value at Row 48230:
Non-numeric value at Row 48231:
Non-numeric value at Row 48232:
Non-numeric value at Row 48233:
Non-numeric value at Row 48234:
Non-numeric value at Row 48235:
Non-numeric value at Row 48236:
Non-numeric value at Row 48237:
Non-numeric value at Row 48238:
Non-numeric value at Row 48239:
Non-numeric value at Row 48240:
Non-numeric value at Row 48241:
Non-numeric value at Row 48242:
Non-numeric value at Row 48243:
Non-numeric value at Row 48244:
Non-numeric value at Row 48245:
Non-numeric value at Row 48246:
Non-numeric value at Row 48247:
Non-numeric value at Row 48248:
Non-numeric value at Row 48249:
Non-numeric value at Row 48250:
Non-numeric value at Row 48251:
Non-numeric value at Row 48252:
Non-numeric value at Row 48253:
Non-numeric value at Row 48254:
Non-numeric value at Row 48255:
Non-numeric value at Row 48256:
Non-numeric value at Row 48257:
Non-numeric value at Row 48258:
Non-numeric value at Row 48259:
Non-numeric value at Row 48260:
Non-numeric value at Row 48261:
Non-numeric value at Row 48262:
Non-numeric value at Row 48263:
Non-numeric value at Row 48264:
Non-numeric value at Row 48265:
Non-numeric value at Row 48266:
Non-numeric value at Row 48267:
Non-numeric value at Row 48268:
Non-numeric value at Row 48269:
Non-numeric value at Row 48270:
Non-numeric value at Row 48271:
Non-numeric value at Row 48272:

Upon further inspection, we see that the column contains whitespace values. The next step is to find out if the column has zero values to ascertain that null values and zeroes are different

In [6]:
## Find out if there are zero values in the total_household_disbursements column
print(fies_df['Total Household Disbursements'].value_counts().where(fies_df['Total Household Disbursements'] == 0, 1).sum())

144056

There are zeroes, which means that the null values cannot be attributed to zero. To preserve data quality, we drop these columns

In [7]:
# Function to check if a value is whitespace or empty
def has_whitespace(val):
    return isinstance(val, str) and val.strip() == ''

whitespace_rows = fies_df.map(has_whitespace).any(axis=1)

whitespace_count = whitespace_rows.sum()

# Drop the columns 
fies_df = fies_df[~whitespace_rows]
print(f"Shape after removing rows with whitespaces: {fies_df.shape}")

Shape after removing rows with whitespaces: (155536, 91)

In [8]:
# Display all columns with missing values
print(fies_df.isnull().sum())

RDMD_ID                                                              0
Region                                                               0
Province                                                             0
Household ID                                                         0
RECODED PROVINCE                                                     0
                                                                    ..
RPCINC                                                               0
Per Capita Income Decile (Province)                                  0
pPCINC                                                               0
Per Capita Income Decile (Region with Negros Island Region (NIR))    0
Region (with NIR)                                                    0
Length: 91, dtype: int64

No more null values

### Renaming Columns

In [9]:
# Renaming columns to follow standard snake_case naming convention
fies_df = fies_df.rename(columns={
    'RDMD_ID': 'rdmd_id',
    'Region': 'region',
    'Province': 'province',
    'Household ID': 'household_id',
    'RECODED PROVINCE': 'recoded_province',
    'Family Size': 'family_size',
    'Salaries/Wages from Regular Employment': 'regular_salaries_wages',
    'Salaries/Wages from Seasonal Employment': 'seasonal_salaries_wages',
    'Income from Salaries and Wages': 'total_salaries_wages',
    'Net Share of Crops, Fruits, etc. (Tot. Net Value of Share)': 'net_crop_fruit_share',
    'Cash Receipts, Support, etc. from Abroad': 'cash_receipts_abroad',
    'Cash Receipts, Support, etc. from Domestic Source': 'cash_receipts_domestic',
    'Rentals Received from Non-Agri Lands, etc.': 'non_agri_land_rentals',
    'Unnamed: 13': 'unnamed_13',
    'Pension and Retirement Benefits': 'pension_retirement_benefits',
    'Dividends from Investment': 'dividends_from_investment',
    'Other Sources of Income NEC': 'other_income_nec',
    'Family Sustenance Activities': 'family_sustenance_activities',
    'Total Received as Gifts': 'total_gifts_received',
    'Crop Farming and Gardening': 'income_crop_farming',
    'Livestock and Poultry Raising': 'income_livestock_poultry',
    'Fishing': 'income_fishing',
    'Forestry and Hunting': 'income_forestry_hunting',
    'Wholesale and Retail': 'income_wholesale_retail',
    'Manufacturing': 'income_manufacturing',
    'Transportation, Storage Services': 'income_transport_storage',
    'Entrep. Activities NEC': 'entrepreneurial_activities_nec',
    'Entrep. Activities NEC.1': 'entrepreneurial_activities_nec_1',
    'Entrep. Activities NEC.2': 'entrepreneurial_activities_nec_2',
    'Hhld, Income from Entrepreneurial Activities, Total': 'total_income_entrepreneurial_activities',
    'Losses from EA': 'losses_from_entrepreneurial_activities',
    'Cereal and Cereal Preparations (Total)': 'expenditure_cereal_preparations',
    'Meat and Meat Preparations': 'expenditure_meat_preparations',
    'Fish and Marine Products (Total)': 'expenditure_fish_marine_products',
    'Dairy Products and Eggs (Total)': 'expenditure_dairy_eggs',
    'Oils and Fats (Total)': 'expenditure_oils_fats',
    'Fruits and Vegetables': 'expenditure_fruits_vegetables',
    'Vegetables (Total)': 'expenditure_vegetables',
    'Sugar, Jam and Honey (Total)': 'expenditure_sugar_jam_honey',
    'Food Not Elsewhere Classified (Total)': 'expenditure_other_food',
    'Fruit and vegetable juices': 'expenditure_fruit_vegetable_juices',
    'Coffee, Cocoa and Tea (Total)': 'expenditure_coffee_cocoa_tea',
    'Tea (total)  expenditure': 'expenditure_tea',
    'Cocoa (total)  expenditure': 'expenditure_cocoa',
    'Main Source of Water Supply (2nd visit only)': 'main_water_supply_second_visit',
    'Softdrinks': 'expenditure_softdrinks',
    'Other Non Alcoholic Beverages': 'expenditure_non_alcoholic_beverages',
    'Alcoholic Beverages (Total)': 'expenditure_alcoholic_beverages',
    'Tobacco (Total)': 'expenditure_tobacco',
    'Other Vegetables (Total)': 'expenditure_other_vegetables',
    'Services_Primary_Goods': 'expenditure_services_primary_goods',
    'Alcohol Procduction Services': 'expenditure_alcohol_production_services',
    'Total Food Consumed at Home (Total)': 'total_food_consumed_home',
    'Food Regularly Consumed Outside The Home (Total)': 'food_consumed_outside_home',
    'Hhld, Food': 'household_food_expenditure',
    'Clothing, Footwear and Other Wear': 'expenditure_clothing_footwear',
    'Housing and water (Total)': 'expenditure_housing_water',
    'Actual House Rent': 'actual_house_rent',
    'Imputed House Rental Value': 'imputed_house_rental_value',
    'Imputed Housing Benefit Rental Value': 'imputed_housing_benefit_rental_value',
    'House Rent/Rental Value': 'house_rent_rental_value',
    'Furnishings, Household Equipment & Routine Household Mainte': 'expenditure_furnishings_household_maintenance',
    'Health (Total)': 'expenditure_health',
    'Transportation (Total)': 'expenditure_transportation',
    'Communication (Total)': 'expenditure_communication',
    'Recreation and Culture (Total)': 'expenditure_recreation_culture',
    'Education (Total)': 'expenditure_education',
    'Insurance': 'expenditure_insurance',
    'Miscellaneous Goods and Services (Total)': 'expenditure_miscellaneous_goods_services',
    'Durable Furniture': 'expenditure_durable_furniture',
    'Special Family Occasion': 'expenditure_special_family_occasion',
    'Other Expenditure (inc. Value Consumed, Losses)': 'other_expenditure',
    'Other Disbursements': 'other_disbursements',
    'Accomodation Services': 'expenditure_accommodation_services',
    'Total Non-Food Expenditure': 'total_non_food_expenditure',
    'Hhld, Income, Total': 'total_household_income',
    'Hhld, Expenditures, Total': 'total_household_expenditures',
    'Total Household Disbursements': 'total_household_disbursements',
    'Other Receipts': 'other_receipts',
    'Total Receipts': 'total_receipts',
    'Psu (Recode)': 'psu_recode',
    'Raising Factor': 'raising_factor',
    'Final Population Weights': 'final_population_weights',
    'Urban / Rural': 'urban_rural',
    'Per Capita Income': 'per_capita_income',
    'NPCINC': 'national_per_capita_income',
    'RPCINC': 'regional_per_capita_income',
    'Per Capita Income Decile (Province)': 'per_capita_income_decile_province',
    'pPCINC': 'provincial_per_capita_income_decile',
    'Per Capita Income Decile (Region with Negros Island Region (NIR))': 'per_capita_income_decile_region_nir',
    'Region (with NIR)': 'region_with_nir'
})

### Dropping unnamed_13 column

There is a column named unnamed_13. While it has some non-zero values, ultimately, we cannot assume its importance and its meaning cannot be derived nor searched online, therefore it is dropped.

In [10]:
fies_df = fies_df.drop(columns=['unnamed_13'])

### Datatype Standardization

In [11]:
fies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 155536 entries, 0 to 163267
Data columns (total 90 columns):
 #   Column                                         Non-Null Count   Dtype
---  ------                                         --------------   -----
 0   rdmd_id                                        155536 non-null  int64
 1   region                                         155536 non-null  int64
 2   province                                       155536 non-null  int64
 3   household_id                                   155536 non-null  int64
 4   recoded_province                               155536 non-null  int64
 5   family_size                                    155536 non-null  float64
 6   regular_salaries_wages                         155536 non-null  int64
 7   seasonal_salaries_wages                        155536 non-null  int64
 8   total_salaries_wages                           155536 non-null  int64
 9   net_crop_fruit_share                           155536 non-null  int64
 10  cash_receipts_abroad                           155536 non-null  int64
 11  cash_receipts_domestic                         155536 non-null  int64
 12  non_agri_land_rentals                          155536 non-null  int64
 13  pension_retirement_benefits                    155536 non-null  int64
 14  dividends_from_investment                      155536 non-null  int64
 15  other_income_nec                               155536 non-null  int64
 16  family_sustenance_activities                   155536 non-null  int64
 17  total_gifts_received                           155536 non-null  float64
 18  income_crop_farming                            155536 non-null  int64
 19  income_livestock_poultry                       155536 non-null  int64
 20  income_fishing                                 155536 non-null  int64
 21  income_forestry_hunting                        155536 non-null  int64
 22  income_wholesale_retail                        155536 non-null  int64
 23  income_manufacturing                           155536 non-null  int64
 24  income_transport_storage                       155536 non-null  int64
 25  entrepreneurial_activities_nec                 155536 non-null  int64
 26  entrepreneurial_activities_nec_1               155536 non-null  int64
 27  entrepreneurial_activities_nec_2               155536 non-null  int64
 28  total_income_entrepreneurial_activities        155536 non-null  int64
 29  losses_from_entrepreneurial_activities         155536 non-null  int64
 30  expenditure_cereal_preparations                155536 non-null  float64
 31  expenditure_meat_preparations                  155536 non-null  float64
 32  expenditure_fish_marine_products               155536 non-null  float64
 33  expenditure_dairy_eggs                         155536 non-null  float64
 34  expenditure_oils_fats                          155536 non-null  float64
 35  expenditure_fruits_vegetables                  155536 non-null  float64
 36  expenditure_vegetables                         155536 non-null  float64
 37  expenditure_sugar_jam_honey                    155536 non-null  float64
 38  expenditure_other_food                         155536 non-null  float64
 39  expenditure_fruit_vegetable_juices             155536 non-null  float64
 40  expenditure_coffee_cocoa_tea                   155536 non-null  float64
 41  expenditure_tea                                155536 non-null  float64
 42  expenditure_cocoa                              155536 non-null  float64
 43  main_water_supply_second_visit                 155536 non-null  float64
 44  expenditure_softdrinks                         155536 non-null  float64
 45  expenditure_non_alcoholic_beverages            155536 non-null  float64
 46  expenditure_alcoholic_beverages                155536 non-null  float64
 47  expenditure_tobacco                            155536 non-null  float64
 48  expenditure_other_vegetables                   155536 non-null  float64
 49  expenditure_services_primary_goods             155536 non-null  int64
 50  expenditure_alcohol_production_services        155536 non-null  int64
 51  total_food_consumed_home                       155536 non-null  float64
 52  food_consumed_outside_home                     155536 non-null  float64
 53  household_food_expenditure                     155536 non-null  float64
 54  expenditure_clothing_footwear                  155536 non-null  int64
 55  expenditure_housing_water                      155536 non-null  int64
 56  actual_house_rent                              155536 non-null  int64
 57  imputed_house_rental_value                     155536 non-null  int64
 58  imputed_housing_benefit_rental_value           155536 non-null  int64
 59  house_rent_rental_value                        155536 non-null  int64
 60  expenditure_furnishings_household_maintenance  155536 non-null  int64
 61  expenditure_health                             155536 non-null  int64
 62  expenditure_transportation                     155536 non-null  int64
 63  expenditure_communication                      155536 non-null  int64
 64  expenditure_recreation_culture                 155536 non-null  int64
 65  expenditure_education                          155536 non-null  int64
 66  expenditure_insurance                          155536 non-null  int64
 67  expenditure_miscellaneous_goods_services       155536 non-null  int64
 68  expenditure_durable_furniture                  155536 non-null  int64
 69  expenditure_special_family_occasion            155536 non-null  int64
 70  other_expenditure                              155536 non-null  int64
 71  other_disbursements                            155536 non-null  int64
 72  expenditure_accommodation_services             155536 non-null  int64
 73  total_non_food_expenditure                     155536 non-null  float64
 74  total_household_income                         155536 non-null  float64
 75  total_household_expenditures                   155536 non-null  float64
 76  total_household_disbursements                  155536 non-null  object
 77  other_receipts                                 155536 non-null  int64
 78  total_receipts                                 155536 non-null  float64
 79  psu_recode                                     155536 non-null  int64
 80  raising_factor                                 155536 non-null  float64
 81  final_population_weights                       155536 non-null  float64
 82  urban_rural                                    155536 non-null  int64
 83  per_capita_income                              155536 non-null  float64
 84  national_per_capita_income                     155536 non-null  int64
 85  regional_per_capita_income                     155536 non-null  int64
 86  per_capita_income_decile_province              155536 non-null  int64
 87  provincial_per_capita_income_decile            155536 non-null  int64
 88  per_capita_income_decile_region_nir            155536 non-null  int64
 89  region_with_nir                                155536 non-null  int64
dtypes: float64(31), int64(58), object(1)
memory usage: 108.0+ MB

In [12]:
# Select float columns
float_columns = fies_df.select_dtypes(include=['float']).columns

# Find columns where all values are integers (i.e., decimal part is 0)
integer_float_columns = [col for col in float_columns if (fies_df[col] == fies_df[col].astype(int)).all()]

# Check if there are any integer float columns
if not integer_float_columns:
    print("No float columns with all values having a decimal part of 0.")
else:
    # Print the columns that meet the criteria and their data
    for col in integer_float_columns:
        print(f"Column: {col}")
        print(fies_df[col].to_string(index=False))  # Printing without the index for better readability
        print()  # Add a blank line for separation

No float columns with all values having a decimal part of 0.

### Feature Engineering (Unfinished)

In [13]:
# Income-to-Expenditure Ratio
# fies_df['income_expenditure_ratio'] = fies_df['total_household_income'] / fies_df['total_household_expenditures']

### Summary Statistics

We separate the dataset based on two variables, Income and Expenditure. We then calculate the summary statistics for each section.

In [14]:
income_columns = ['regular_salaries_wages',
                  'seasonal_salaries_wages',
                  'total_salaries_wages',
                  'net_crop_fruit_share',
                  'cash_receipts_abroad',
                  'cash_receipts_domestic',
                  'non_agri_land_rentals',
                  'pension_retirement_benefits',
                  'dividends_from_investment',
                  'other_income_nec',
                  'family_sustenance_activities',
                  'total_gifts_received',
                  'income_crop_farming',
                  'income_livestock_poultry',
                  'income_fishing',
                  'income_forestry_hunting',
                  'income_wholesale_retail',
                  'income_manufacturing',
                  'income_transport_storage',
                  'entrepreneurial_activities_nec',
                  'entrepreneurial_activities_nec_1',
                  'entrepreneurial_activities_nec_2',
                  'total_income_entrepreneurial_activities',
                  'total_household_income',
]

expenditure_columns = ['losses_from_entrepreneurial_activities',
                       'expenditure_cereal_preparations',
                       'expenditure_meat_preparations',
                       'expenditure_fish_marine_products',
                       'expenditure_dairy_eggs',
                       'expenditure_oils_fats',
                       'expenditure_fruits_vegetables',
                       'expenditure_vegetables',
                       'expenditure_sugar_jam_honey',
                       'expenditure_other_food',
                       'expenditure_fruit_vegetable_juices',
                       'expenditure_coffee_cocoa_tea',
                       'expenditure_tea',
                       'expenditure_cocoa',
                       'expenditure_softdrinks',
                       'expenditure_non_alcoholic_beverages',
                       'expenditure_alcoholic_beverages',
                       'expenditure_tobacco',
                       'expenditure_other_vegetables',
                       'expenditure_services_primary_goods',
                       'expenditure_alcohol_production_services',
                       'household_food_expenditure',
                       'expenditure_clothing_footwear',
                       'expenditure_housing_water',
                       'expenditure_furnishings_household_maintenance',
                       'expenditure_health',
                       'expenditure_transportation',
                       'expenditure_communication',
                       'expenditure_recreation_culture',
                       'expenditure_education',
                       'expenditure_insurance',
                       'expenditure_miscellaneous_goods_services',
                       'expenditure_durable_furniture',
                       'expenditure_special_family_occasion',
                       'other_expenditure',
                       'other_disbursements',
                       'expenditure_accommodation_services',
                       'total_non_food_expenditure',
                       'total_household_expenditures',
                       'total_household_disbursements',
]

id_columns = ['rdmd_id',
              'region',
              'province',
              'household_id',
              'recoded_province',
              'region_with_nir'
]

misc_columns = ['family_size',
                'main_water_supply_second_visit',
                'total_food_consumed_home',
                'food_consumed_outside_home',
                'actual_house_rent',
                'imputed_house_rental_value',
                'imputed_housing_benefit_rental_value',
                'house_rent_rental_value',
                'other_receipts',
                'total_receipts',
                'psu_recode',
                'raising_factor',
                'final_population_weights',
                'urban_rural',
                'per_capita_income',
                'national_per_capita_income',
                'regional_per_capita_income',
                'per_capita_income_decile_province',
                'provincial_per_capita_income_decile',
                'per_capita_income_decile_region_nir',
]

In [15]:
# Summary Statistics for Income (Mean, Median, Mode, Standard Deviation)

income_summary = fies_df[income_columns].describe()
print(income_summary)

       regular_salaries_wages  seasonal_salaries_wages  total_salaries_wages  \
count            1.555360e+05             1.555360e+05          1.555360e+05
mean             1.509929e+05             2.874662e+04          1.797396e+05
std              2.398292e+05             6.979412e+04          2.511435e+05
min              0.000000e+00             0.000000e+00          0.000000e+00
25%              0.000000e+00             0.000000e+00          3.000000e+04
50%              7.239600e+04             0.000000e+00          1.180000e+05
75%              2.045000e+05             4.250000e+04          2.350000e+05
max              1.547640e+07             1.700000e+07          3.247640e+07

       net_crop_fruit_share  cash_receipts_abroad  cash_receipts_domestic  \
count          1.555360e+05          1.555360e+05            1.555360e+05
mean           1.716062e+03          2.385233e+04            1.635780e+04
std            1.250161e+04          8.447856e+04            2.968692e+04
min            0.000000e+00          0.000000e+00            0.000000e+00
25%            0.000000e+00          0.000000e+00            0.000000e+00
50%            0.000000e+00          0.000000e+00            6.400000e+03
75%            0.000000e+00          1.500000e+03            2.120000e+04
max            1.200000e+06          4.500000e+06            1.700000e+06

       non_agri_land_rentals  pension_retirement_benefits  \
count           1.555360e+05                 1.555360e+05
mean            2.137240e+03                 8.887319e+03
std             2.519769e+04                 6.075362e+04
min             0.000000e+00                 0.000000e+00
25%             0.000000e+00                 0.000000e+00
50%             0.000000e+00                 0.000000e+00
75%             0.000000e+00                 0.000000e+00
max             3.900000e+06                 5.100000e+06

       dividends_from_investment  other_income_nec  ...  income_fishing  \
count               1.555360e+05     155536.000000  ...    1.555360e+05
mean                9.061123e+02        343.812686  ...    4.723664e+03
std                 6.832362e+04       5950.802313  ...    3.039134e+04
min                 0.000000e+00          0.000000  ...   -9.000000e+03
25%                 0.000000e+00          0.000000  ...    0.000000e+00
50%                 0.000000e+00          0.000000  ...    0.000000e+00
75%                 0.000000e+00          0.000000  ...    0.000000e+00
max                 2.000000e+07     800000.000000  ...    6.306800e+06

       income_forestry_hunting  income_wholesale_retail  income_manufacturing  \
count            155536.000000             1.555360e+05          1.555360e+05
mean                368.673381             2.555829e+04          2.354684e+03
std                4943.064603             2.288451e+05          2.940363e+04
min               -1200.000000            -2.950000e+04         -2.000000e+03
25%                   0.000000             0.000000e+00          0.000000e+00
50%                   0.000000             0.000000e+00          0.000000e+00
75%                   0.000000             0.000000e+00          0.000000e+00
max              745000.000000             7.766400e+07          3.000660e+06

       income_transport_storage  entrepreneurial_activities_nec  \
count              1.555360e+05                    1.555360e+05
mean               6.463486e+03                    5.804513e+03
std                3.485627e+04                    8.336695e+04
min               -1.660000e+04                   -4.877000e+04
25%                0.000000e+00                    0.000000e+00
50%                0.000000e+00                    0.000000e+00
75%                0.000000e+00                    0.000000e+00
max                3.235800e+06                    1.592320e+07

       entrepreneurial_activities_nec_1  entrepreneurial_activities_nec_2  \
count                      1.555360e+05                      1.555360e+05
mean                       3.670353e+02                      3.743294e+02
std                        1.697473e+04                      1.816846e+04
min                       -2.000000e+00                      0.000000e+00
25%                        0.000000e+00                      0.000000e+00
50%                        0.000000e+00                      0.000000e+00
75%                        0.000000e+00                      0.000000e+00
max                        4.469398e+06                      5.569280e+06

       total_income_entrepreneurial_activities  total_household_income
count                             1.555360e+05            1.555360e+05
mean                              6.192258e+04            3.337481e+05
std                               2.696420e+05            4.093804e+05
min                               0.000000e+00            1.403000e+04
25%                               0.000000e+00            1.638390e+05
50%                               1.750000e+04            2.430000e+05
75%                               8.059000e+04            3.915030e+05
max                               8.094431e+07            8.246120e+07

[8 rows x 24 columns]

In [16]:
# Summary Statistics for Expenditure (Mean, Median, Mode, Standard Deviation)

expenditure_summary = fies_df[expenditure_columns].describe()
print(expenditure_summary)

       losses_from_entrepreneurial_activities  \
count                           155536.000000
mean                                 6.946058
std                                546.407497
min                                  0.000000
25%                                  0.000000
50%                                  0.000000
75%                                  0.000000
max                             136448.000000

       expenditure_cereal_preparations  expenditure_meat_preparations  \
count                    155536.000000                  155536.000000
mean                      27220.986942                   16213.612726
std                       12902.768897                   13795.044346
min                           0.000000                       0.000000
25%                       18279.000000                    6802.000000
50%                       25135.000000                   12480.000000
75%                       33953.000000                   21528.000000
max                      367182.000000                  362100.000000

       expenditure_fish_marine_products  expenditure_dairy_eggs  \
count                     155536.000000           155536.000000
mean                       14389.271158             6145.896146
std                        10377.031551             6327.668685
min                            0.000000                0.000000
25%                         7456.000000             2782.000000
50%                        11937.000000             4680.000000
75%                        18460.000000             7560.000000
max                       301740.000000           626024.000000

       expenditure_oils_fats  expenditure_fruits_vegetables  \
count          155536.000000                  155536.000000
mean             1722.389313                    4615.230797
std              1570.568516                    4269.061334
min                 0.000000                       0.000000
25%               960.000000                    1990.000000
50%              1430.000000                    3440.000000
75%              2090.000000                    5845.000000
max            240480.000000                  263530.000000

       expenditure_vegetables  expenditure_sugar_jam_honey  \
count           155536.000000                155536.000000
mean              7078.460560                  2145.303171
std               5583.559762                  2050.757852
min                  0.000000                     0.000000
25%               3795.000000                   983.000000
50%               5870.000000                  1621.000000
75%               8890.125000                  2704.250000
max             811295.000000                131445.000000

       expenditure_other_food  ...  expenditure_education  \
count           155536.000000  ...           1.555360e+05
mean              4133.526558  ...           8.035793e+03
std               6183.479430  ...           2.410755e+04
min                  0.000000  ...           0.000000e+00
25%               1660.000000  ...           0.000000e+00
50%               2587.000000  ...           5.000000e+02
75%               4236.000000  ...           5.300000e+03
max             405697.000000  ...           1.800000e+06

       expenditure_insurance  expenditure_miscellaneous_goods_services  \
count          155536.000000                             155536.000000
mean             6382.939782                               9088.059999
std             17183.425748                              10555.815845
min                 0.000000                                 64.000000
25%                 0.000000                               4215.000000
50%                 0.000000                               6690.000000
75%              6000.000000                              10658.000000
max            906000.000000                             881775.000000

       expenditure_durable_furniture  expenditure_special_family_occasion  \
count                   1.555360e+05                        155536.000000
mean                    5.142340e+03                          6231.273821
std                     3.765973e+04                         13754.655359
min                     0.000000e+00                             0.000000
25%                     0.000000e+00                             0.000000
50%                     0.000000e+00                          2500.000000
75%                     0.000000e+00                          6800.000000
max                     4.000000e+06                        905000.000000

       other_expenditure  other_disbursements  \
count       1.555360e+05         1.555360e+05
mean        4.944876e+03         2.725642e+04
std         2.695376e+04         1.766135e+05
min         0.000000e+00         0.000000e+00
25%         0.000000e+00         0.000000e+00
50%         3.500000e+02         0.000000e+00
75%         2.600000e+03         1.260000e+04
max         3.769969e+06         3.704800e+07

       expenditure_accommodation_services  total_non_food_expenditure  \
count                       155536.000000                1.555360e+05
mean                           221.874119                1.418640e+05
std                           2636.134137                1.591356e+05
min                              0.000000                5.292000e+03
25%                              0.000000                5.909875e+04
50%                              0.000000                9.770000e+04
75%                              0.000000                1.695112e+05
max                         288000.000000                8.231734e+06

       total_household_expenditures
count                  1.555360e+05
mean                   2.438991e+05
std                    1.967269e+05
min                    1.396700e+04
25%                    1.318695e+05
50%                    1.920425e+05
75%                    2.946032e+05
max                    8.707474e+06

[8 rows x 39 columns]

## Preliminary Visualization

## Preliminary Machine Learning Model

Here are some tailored **machine learning models** based on the structure of your dataset and potential use cases:

### **Classification Models for Income/Expenditure Brackets**

If you're interested in **classifying households** into income or expenditure brackets (e.g., low-income vs. high-income households), consider these classification models:

#### **Support Vector Machines (SVM)**

- **Use case**: If your goal is to classify households into specific income or expenditure categories, especially when the decision boundaries are non-linear.
- **Why**: SVMs handle complex, high-dimensional data well but may require scaling and tuning for large datasets.

### **Clustering for Household Segmentation**

If you're looking to **segment households** based on income, expenditure, or other factors, clustering models could help:

#### **DBSCAN** (Density-Based Spatial Clustering)

- **Use case**: If you expect household segments to be irregularly shaped (e.g., a group of households with similar income but varied expenditures).
- **Why**: DBSCAN is good at discovering clusters with arbitrary shapes and identifying outliers, which might be useful for detecting unique spending patterns.

### **Anomaly Detection**

For identifying **anomalies in household expenditure** (e.g., very high or low expenses in a particular category), you could use:

#### a. **Isolation Forest**

- **Use case**: Detecting anomalous households with unusual expenditures or income patterns.
- **Why**: This model is effective for detecting outliers, such as households with extreme values in certain spending categories.

### Next Steps

1. **Data Preprocessing**: Consider normalizing/standardizing continuous features (like income, expenditure) and encoding categorical variables (e.g., _Region_, _Urban/Rural_).
2. **Feature Selection**: Start with tree-based models to identify key predictors (using feature importance) and potentially use **PCA** for dimensionality reduction.
3. **Model Evaluation**: Use cross-validation and metrics like **RMSE** (for regression) or **F1-score** (for classification) to assess model performance.

## Insights